# Ignore everything by default
*

# Source code
!src/
src/**/*.test.ts
src/**/test.setup.ts

# Static assets
!static/

# Project config
!convex.json
!svelte.config.js
!vite.config.ts
!tsconfig.json
!components.json

# Dependencies
!package.json
!bun.lock

# Entrypoint
!scripts/docker-entrypoint-*.sh
