# convex backend url for convex dashboard
CONVEX_SELF_HOSTED_URL=http://127.0.0.1:3210

# convex backend passkey for convex dashboard
CONVEX_SELF_HOSTED_ADMIN_KEY=''

# convex backend url for svelte
PUBLIC_CONVEX_URL=http://127.0.0.1:3210
PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

# local web url for auth and tests
PUBLIC_SITE_URL=http://localhost:5173
